<div class="settings_modal_wrap md_modal_wrap" my-modal-position>

  <div class="md_modal_head p-5">
    <div class="peer_modal_profile">
      <div class="peer_modal_title">Multiple workspaces for every usecase</div>
      <div class="peer_modal_subtitle">Add workspaces to separate different projects, categories, and contact lists.</div>
    </div>
  </div>

  <div class="md_modal_body">

    <div class="md_modal_sections clearfix">

      <div class="md_modal_section_body">
        <p>Workspaces are the lifeblood of Telefuel.</p>
        <p>Declutter your Telegram chats by grouping relevant conversations into workspaces. For example, you can setup workspaces for:</p>
        <ul>
          <li>Project-related workspace</li>
          <li>Personal contacts &amp; friends</li>
          <li>Communities</li>
          <li>Client projects</li>
          <li>Portfolio projects</li>
          <li>Prospects &amp; leads</li>
          <li>Media &amp; publications</li>
        </ul>
      </div>

    </div>

  </div>

</div>
