<div class="settings_modal_wrap md_modal_wrap" my-modal-position>

  <div class="md_modal_head p-5">
    <div class="peer_modal_profile">
      <div class="peer_modal_title">Organize your workspaces with folders</div>
      <div class="peer_modal_subtitle">Categorize your groups and DMs as you see fit.</div>
    </div>
  </div>

  <div class="md_modal_body">

    <div class="md_modal_sections clearfix">


      <div class="md_modal_section_body">
        <p>Everyone has their own organizational strategy. Telegram shouldn't be limited to a single flowing list of conversations fighting for the top.</p>
        <p>Telefuel provides a way to manage the chaos with <strong>folders</strong>.</p>
        <p>In this demo, we bucket our conversations into Groups and Direct Messages, but you can organize your conversations however you want. Imagine categorizing your conversations based on different language communities, development channels, and community feedback. The possibilities are endless! </p>
      </div>

    </div>

  </div>

</div>
