<a class="im_dialog" ng-mousedown="dialogSelect(dialogMessage, dialogMessage.unreadCount == -1 && dialogMessage.mid)">

  <div class="im_dialog_meta pull-right text-right">
    <span
      class="im_dialog_badge badge ng-hide"
      ng-show="dialogMessage.unreadCount > 0 && !dialogMessage.pFlags.out"
      ng-bind="dialogMessage.unreadCount"
      my-peer-muted="dialogMessage.peerID" muted-class="im_dialog_badge_muted"
    ></span>
    <i
      class="im_dialog_unread ng-hide"
      ng-show="dialogMessage.pFlags.out && dialogMessage.pFlags.unread"
    ></i>
    <i
      class="im_dialog_pinned ng-hide"
      ng-show="dialogMessage.pinned && !dialogMessage.unreadCount && !dialogMessage.pFlags.unread"
    ></i>
  </div>

  <i class="icon icon-select-tick" ng-class="{dialog_selected: isSelected(dialogMessage.peerString)}" ng-mousedown="dialogMultiSelect(dialogMessage.peerString, $event)"></i>
  
  <div class="tf_dialog_photo pull-left" my-peer-photolink="::dialogMessage.peerID" img-class="tf_dialog_photo" watch="true" for-dialog="!dialogMessage.foundInHistory"></div>

  <div ng-class="['tf_dialog_message_wrap', {active: dialogMessage.unreadCount > 0}]">

    <div class="tf_dialog_peer">
      <span my-peer-link="dialogMessage.peerID" verified="true" for-dialog="!dialogMessage.foundInHistory"></span>
    </div>

  </div>

</a>
