<div class="settings_modal_wrap md_modal_wrap" my-modal-position>

  <div class="md_modal_head p-5">
    <div class="peer_modal_profile">
      <div class="peer_modal_title">Discover &amp; Share Workspaces</div>
      <div class="peer_modal_subtitle">Share your unique workspace url with the world.</div>
    </div>
  </div>

  <div class="md_modal_body">

    <div class="md_modal_sections clearfix">


      <div class="md_modal_section_body">
        <p>You can (optionally) include your workspaces in the <strong>Telefuel Workspace Directory</strong>, so other users can discover your workspace (great for projects, publications, influencers, and more).</p>
        <p>Users can search and browse different pre-configured workspaces setup by other Telefuel users.</p>
        <p>(Workspaces can be set to private, unlisted, or searchable)</p>
      </div>

    </div>

  </div>

</div>
